doctype html
html
  head
    link(rel="stylesheet" href="/stylesheets/application.css")
    link(rel="stylesheet" href="/stylesheets/layouts.css")
    link(rel="stylesheet" href="/stylesheets/partials.css")
    link(rel="stylesheet" href="/stylesheets/pages.css")
    title #{title}

  body.default
    include ../partials/header
    .wrapper
      main
        block content
      aside
        block sidebar