doctype html
html
  head
    link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    link(rel="stylesheet" href="/stylesheets/components/forms.css")
    link(rel="stylesheet" href="/stylesheets/components/buttons.css")
    link(rel="stylesheet" href="/stylesheets/helpers/common.css")
    link(rel="stylesheet" href="/stylesheets/helpers/modules.css")
    link(rel="stylesheet" href="/stylesheets/layouts/header.css")
    link(rel="stylesheet" href="/stylesheets/layouts/content.css")
    title hundred happy days

  body
    include ../partials/header

    .container
      section#main
        block content

      section#sidebar
        block sidebar