form h3 {
  font-family: "Existence Light";
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
form .field {
  margin-top: 5px;
}
form .field label {
  display: inline-block;
  min-width: 80px;
  font: normal 15px "Noto Sans";
  color: #333;
}
input[type="text"],
input[type="password"] {
  font: normal 16px "Noto Sans";
  color: #333;
  padding: 5px;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 3px;
}
