@import "nib"

global-reset()

*, *:before, *:after
  box-sizing border-box

html
  font-size 62.5%
  height 100%

body
  height 100%

.wrapper
  width 1000px
  margin 0 auto

.clearfix:after
  content ""
  display block
  clear both
