.profpic
  width 75px
  height 75px
  background center center no-repeat
  background-size cover
  background-clip content-box
  border 5px solid #333333
  border-radius 50%
  padding 3px

.post-entry
  margin-bottom 100px

  .profpic
    float left

  .content
    float right
    width 585px
    padding-top 12px

  header
    font-family "Existence Light"
    padding-bottom 10px

  .title
    font-size 30px
    margin-bottom 5px

  time
    font-size 12px
    margin-left 15px

  p
    margin-top 15px