.section-title
  font normal 2rem/1 "Existence Light"
  color #333333
  text-transform uppercase
  margin-bottom 25px

article
  margin-bottom 75px

  .profile-picture
    float left
    width 75px
    height 75px
    background #ffffff center center no-repeat
    background-size cover
    background-clip content-box
    border 5px solid #333333
    border-radius 50%
    padding 3px
    margin 0

  .content
    float right
    width 550px

    header
      padding-top 18px

      a
        font normal 1.6rem/1 "Existence Light"
        color #333333
        text-decoration none

        &.title
          display block
          font-size 2.6rem
          margin-bottom 3px

      time
        font normal 1.2rem/1 "Existence Light"
        color #333333
        margin-left 15px

    p
      font normal 1.6rem/1.3 "Open Sans Light"
      color #333333
      margin 10px 0