#header
  padding 25px 100px
  margin-bottom 25px

  nav
    float right

    a
      font normal 13px/1 "Noto Sans"
      color #333333
      border 1px solid #333333
      border-radius 3px
      padding 7px 10px
      margin-left 5px
      outline none

      &:hover
      &:focus
        color #ffffff
        background-color #333333