extend ../layouts/default

block content
  h1.section-header Today's Post

  .post-entry.clearfix
    figure.profpic(style="background-image: url('/images/profile-picture.jpg')")
    .content
      header
        a.title(href="#") Lorem ipsum Cillum ad culpa in pariatur.
        br
        a(href="#") Arnelle Balane
        time 5 minutes ago

      p Lorem ipsum Labore voluptate voluptate aliquip quis ad ad ut ea irure proident officia sunt culpa elit elit irure amet minim anim in Excepteur dolor Duis pariatur veniam consequat est elit labore amet esse exercitation reprehenderit est .

      p Dipisicing deserunt consectetur adipisicing velit magna Duis culpa esse in eu nulla commodo voluptate non eiusmod commodo laboris non dolore ullamco officia quis laboris culpa anim in ullamco qui dolore dolore ad officia non et sunt ad laborum incididunt labore sunt esse in ullamco.

block sidebar
  h1.section-header Happiest People