extend ../layouts/default

block content
  h1 Lorem ipsum Dolor sint sed commodo.
  h2 Lorem ipsum Dolor sint sed commodo.
  h3 Lorem ipsum Dolor sint sed commodo.
  h4 Lorem ipsum Dolor sint sed commodo.
  h5 Lorem ipsum Dolor sint sed commodo.
  h6 Lorem ipsum Dolor sint sed commodo.